*.xwb filter=lfs diff=lfs merge=lfs -text
Content/XACT/Wave[[:space:]]Bank.xwb filter=lfs diff=lfs merge=lfs -text
Bank.xwb filter=lfs diff=lfs merge=lfs -text
Content/XACT/Wave filter=lfs diff=lfs merge=lfs -text
